*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App {
  text-align: center;
}
.App h1 {
  color: #143957;
  margin-top: 1.5rem;
}
.App h1 span {
  color: #e2c311;
  font-size: 2.5rem;
  
}

.slider {
  position: relative;
  width: 80vw;
  height: 650px;
  display: flex;
  overflow: hidden;
  max-width: 800px;
}
.slider--img{
  margin-top: 4rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5),
               -5px -5px 10px rgb(205, 209, 212);
}
.App h2{
  color: #e2c311;
  text-transform: capitalize;
  margin-top: 1rem;
}

.App h4 {
  text-transform: capitalize;
  color: #143957;
  font-size: 1rem;
  margin-top: 10px;
}
.App p {
  font-size: 0.9rem;
  width: 80%;
  margin: 1rem auto;
  color: #143957;
}

.quote {
  font-size: 3rem;
  color: #e2c311;
  margin-top: 1rem;
}
.prev,
.next {
  position: absolute;
  top: 200px;
  transform: translateY(-50%);
  background: #143957;
  color: #fff;
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
.prev:hover,
.next:hover {
  background: #e2c311;
}
.prev {
  left: 0;
}
.next {
  right: 0;
} 
article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s linear;
}
article.animatedSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}



